
.blurb {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 22px;
    text-decoration: none;
    padding-bottom: 1.5%

}

.title {
      text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 600%;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 4px;

    
    
}

   body {background-color: hsl(35, 40%, 97%);
       font-family: "verdana";
       }





h2 {list-style-type: none;
    text-align: center;
    padding-bottom: %;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 4px;
    
}

p {
    text-decoration: none;
}


h4 {
    text-align: center;
    padding-top: 10px;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 4px;
}

h1 {
    text-align: center;
    padding: 0px 50px;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 4px;
}



.image {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;

}

h3 {
    padding-top: 20px;
    font-family: "Segoe UI", sans-serif;
}
